@import '~/assets/styles/utils/mixins';

.d-switch {
	&__input {
		@apply fixed top-0 left-0 pointer-events-none opacity-0;

		&:not(:disabled) + .d-switch__label {
			&:hover {
				@apply bg-gray-100 dark:bg-gray-800;

				&::before {
					transition: unset;
				}
			}

			&:active {
				@apply bg-gray-200 dark:bg-gray-700;

				&::before {
					transform: scale(0.9);
				}
			}
		}

		&:disabled {
			&:checked + .d-switch__label::after {
				@apply bg-gray-500;
			}

			& + .d-switch__label {
				@apply italic text-gray-500 cursor-not-allowed;

				&::before {
					@apply border-gray-500;

					@include disabled-stripped-bg;
				}
			}
		}

		&:checked {
			&:not(:disabled) {
				& + .d-switch__label {
					&:hover::before {
						@apply bg-blue-500;
					}
				}
			}
			& + .d-switch__label {
				&::before {
					@apply bg-blue-600;
				}

				&::after {
					@apply right-2 bg-white;
				}
			}
		}

		&:not(:checked):not(:disabled) + .d-switch__label:hover::before {
			@apply bg-gray-300 dark:bg-gray-600;
		}
	}

	&__label {
		@apply relative inline-block pr-20 pl-4 py-2 rounded-md cursor-pointer;

		&::before,
		&::after {
			@apply absolute top-2 h-6 rounded-full;

			content: '';
		}

		&::before {
			@apply right-2 w-14 bg-gray-200 dark:bg-gray-700;
			transition: background-color 0.25s linear;
		}

		&::after {
			@apply bg-gray-600 dark:bg-gray-300 w-6;
			right: 40px;
			transform: scale(0.9);
			transition: right 0.25s var(--transition-easing),
				background-color 0.25s linear;
		}
	}

	&__wrapper {
		@apply relative;

		&:focus-within > .d-switch__label::before {
			box-shadow: 0 0 0 2px #3b82f6;
		}
	}
}
