
.c-bracket-table {
	@apply table-fixed border-collapse;

	&.taking-screenshot {
		@apply bg-gray-900;

		th,
		td {
			&:not(:first-child) {
				@apply border-white;
			}
		}
		td {
			&[data-setting='TS'] {
				@apply bg-red-600 shadow-none;
			}
			&[data-setting='CTF'] {
				@apply bg-blue-500 shadow-none;
			}
			&[data-setting='KotH'] {
				@apply bg-purple-500 shadow-none;
			}
			&[data-setting='OB'] {
				@apply bg-green-500 shadow-none;
			}
			&[data-setting='SH'] {
				@apply bg-yellow-500 shadow-none;
			}
		}
	}

	th:not(:first-child),
	td:nth-child(2) {
		@apply px-4 py-2 font-bold bg-gray-700;
	}

	th,
	td {
		&:not(:first-child) {
			@apply text-white border border-gray-500;
		}
	}

	td:first-child {
		min-width: 25px;
	}

	td[data-setting=''] {
		@apply bg-black bg-opacity-40 border-0;
		&:last-child {
			@apply border-r border-r-gray-500;
		}
	}

	td {
		transition: background-color 0.15s;

		&[data-setting='TS'] {
			box-shadow: 0 0 30px 0 rgba(239, 68, 68, .35) inset;
		}
		&[data-setting='CTF'] {
			box-shadow: 0 0 30px 0 rgba(59, 130, 246, .25) inset;
		}
		&[data-setting='KotH'] {
			box-shadow: 0 0 30px 0 rgba(139, 92, 246, .25) inset;
		}
		&[data-setting='OB'] {
			box-shadow: 0 0 30px 0 rgba(16, 185, 129, .25) inset;
		}
		&[data-setting='SH'] {
			box-shadow: 0 0 30px rgba(245, 158, 11, .25) inset;
		}

		&.highlighted {
			&[data-setting='TS'] {
				@apply bg-red-500;
			}
			&[data-setting='CTF'] {
				@apply bg-blue-500;
			}
			&[data-setting='KotH'] {
				@apply bg-purple-500;
			}
			&[data-setting='OB'] {
				@apply bg-green-500;
			}
			&[data-setting='SH'] {
				@apply bg-yellow-500;
			}
		}
	}

	.d-select {
		&__wrapper {
			@apply m-0 p-0;

			&:first-child .d-select__input {
				@apply text-right;
			}

			&.wrong {
				& > select:not(:focus) {
					@apply text-red-500;
				}
			}
		}

		&__input {
			@apply bg-transparent appearance-none px-1;

			&:not(:disabled) {
				&:hover {
					@apply bg-white bg-opacity-30 cursor-pointer;
				}
				&:focus {
					@apply bg-black bg-opacity-80 cursor-pointer;
				}
			}

			& > option {
				&.warning {
					@apply text-yellow-600;
				}
				&.danger {
					@apply bg-red-600 text-white;
				}
			}
		}
	}
}
