@import '~/assets/styles/utils/mixins';

.d-check {
	&__input {
		@apply fixed top-0 left-0 pointer-events-none opacity-0;

		&:not(:disabled) + .d-check__label {
			&:hover {
				@apply bg-black bg-opacity-50;

				&::before {
					@apply bg-gray-900;
				}
			}

			&:active {
				@apply bg-opacity-80;

				&::before {
					transform: scale(0.9);
				}
			}
		}

		&:disabled {
			&:checked + .d-check__label::after {
				@apply bg-gray-500 dark:bg-gray-500;
			}

			& + .d-check__label {
				@apply italic text-gray-500 cursor-not-allowed;

				&::before {
					@apply border-gray-500;

					@include disabled-stripped-bg;
				}
			}
		}

		&:checked + .d-check__label::after {
			transform: scale(1);
		}
	}

	&__label {
		@apply relative py-2 rounded-md cursor-pointer;

		&.check-before {
			@apply pl-10 pr-4;

			&::before,
			&::after {
				@apply left-2;
			}
		}

		&.check-after {
			@apply pl-4 pr-10;

			&::before,
			&::after {
				@apply right-2;
			}
		}

		&::before,
		&::after {
			@apply absolute top-2 w-6 h-6 rounded-sm;

			content: '';
		}

		&::before {
			@apply bg-black border border-gray-400;
		}

		&::after {
			@apply bg-white;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='black' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
			transform: scale(0);
			transition: transform 0.25s var(--transition-easing);
		}
	}

	&__wrapper {
		@apply relative;
	}
}
